{% extends "base.html" %}

{% block title %}Contato{% endblock %}

{% block content %}
    <h1>Entre em Contato</h1>
    <form action="" method="post" novalidate>
        {{ form.hidden_tag() }}

        <p>
            {{ form.nome.label }}<br>
            {{ form.nome(size=40) }}
            {% for error in form.nome.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.email.label }}<br>
            {{ form.email(size=40) }}
            {% for error in form.email.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.assunto.label }}<br>
            {{ form.assunto(size=40) }}
            {% for error in form.assunto.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>
            {{ form.mensagem.label }}<br>
            {{ form.mensagem(rows=4, cols=41) }}
            {% for error in form.mensagem.errors %}
            <span style="color: red;">[{{ error }}]</span>
            {% endfor %}
        </p>
        <p>{{ form.enviar() }}</p>
    </form>
{% endblock %}